<div class="conteiner">
	<div class="row">
		<div class="col-xs-10">
			<div class="col-xs-3">
				<table>
					<thead>
						<th>ジャンル検索</th>
					</thead>
					<tbody>
						<tr>
						<td><a href="/public/items?genre_id=1">ケーキ</a></td>
					</tr>
					<tr>
						<td><a href="/public/items?genre_id=2">焼き菓子</a></td>
					</tr>
					<tr>
						<td><a href="/public/items?genre_id=3">プリン</a></td>
					</tr>
					<tr>
						<td><a href="/public/items?genre_id=4">キャンディ</a></td>
					</tr>
					</tbody>
				</table>
			</div>
				<div class="col-xs-9">
				<div>
					<% if  @url == "/public/items?genre_id=1" %>
						<h4>ケーキ一覧</h4>
					<% elsif @url == "/public/items?genre_id=2" %>
						<h4>焼き菓子一覧</h4>
					<% elsif @url == "/public/items?genre_id=3" %>
						<h4>プリン一覧</h4>
					<% elsif @url == "/public/items?genre_id=4" %>
						<h4>キャンディ一覧</h4>
					<% else %>
						<h4>商品一覧</h4>
					<% end %>
					<span>(全<%= @items.count %>件）</span>
				</div>
					<% @items.each do |item| %>

				<div class="col-xs-4">
					<div>
						<%= attachment_image_tag item,:image, format: 'jpeg', class: "image", size:'200x150'%>
					</div>
					<div>
						<span><%= item.name %></span>
					</div>
					<div>
						<span>￥<%= (item.price * 1.1).round %></span>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>